<% if(typeof message != "undefined"){ %>
    <p class="text-center"> <%= message %> </p>
<% } %>





<script>

    $(document.body).css("background-image", "url(/public/img/back.jpg)");  
    $(document.body).css("height", "754px"); 
    $(document.body).css("background-repeat", "no-repeat");  
    $(document.body).css("background-position", "center"); 
    $(document.body).css("background-size", "cover"); 

</script>