<div class="col-xs-6 col-sm-4 mt-3">
      <a href="/user/login">
        <button type="button" class="btn btn-success btn-lg btn-block m-2">Login</button>
      </a>

      <a href="/user/register">
        <button type="button" class="btn btn-info btn-lg btn-block m-2">Register</button>
      </a>

      <div class="mt-5">
        <p class="text-center text-danger" style="font-size:20px;"> <%= info %> </p>
      </div>
</div>

<% var info=""; %>