<form action="/user" method="POST" class="col-xs-6 col-sm-5 mt-3">
    <p class="text-left" style="weight:bold"> First Name: <%= f_name %> </p>
    <p class="text-left" style="weight:bold"> Last Name: <%= l_name %> </p>

    <br>
    <button type="submit" class="btn btn-danger">Log Out</button>

</form>